.gridItem {
    border: 1px #E8E8EE solid;
    height: 11px;
    width: 11px;
    display: inline-block;
    float:left    
}
.rulesInput {
    width: 35px;
    height: 20px;
    text-align: center;
}
.grid {
    width: 440px;
    height: 300px;
   
}
.type0{
    background-color: #E8F8E8
}
.type1 {
    background-color: #ffb2b2
}
.type2 {
    background-color: red;
}
.type3 {
    background-color: yellow
}
